buildh>=1.6.1
MDAnalysis>=2.7.0
numpy>=2.0
maicos @ git+https://github.com/maicos-devel/maicos.git  # Remove after v0.11 is released
pandas>=2.0.0
PyYAML>=6.0.0
tqdm>=4.5.0
periodictable>=1.5.0
Deprecated
scipy
flake8
pep8-naming
pytest
