name: Documentation

on:
  workflow_dispatch: #Can be triggered manually. 
  push:
    branches: [main]
    tags: ["*"]
  pull_request:
    # Check all PR

jobs:
  build:
    if: github.repository == 'NMRLipids/Databank' 
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"
          check-latest: true

      - name: install dependencies
        run: python -m pip install tox gitpython

      - name: build documentation
        run: tox -e docs

      - name: put documentation in the website
        run: |
          git clone https://github.com/$GITHUB_REPOSITORY --branch gh-pages gh-pages
          rm -rf gh-pages/.git
          cd gh-pages

          REF_KIND=$(echo $GITHUB_REF | cut -d / -f2)
          if [[ "$REF_KIND" == "tags" ]]; then
              DOC_KIND="stable"
          else
              DOC_KIND="latest"
          fi

          rm -rf $DOC_KIND
          mv ../docs/build/html $DOC_KIND

      - name: deploy to gh-pages
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./gh-pages/
          force_orphan: true
